<div class="col-3">
    <table class="table">        
        <tbody>
            <tr>
                <td><b><a asp-area="Admin" asp-controller="Orders" asp-action="Index">Заказы</a></b></td>
            </tr>
            <tr>
                <td><b><a asp-area="Admin" asp-controller="Users" asp-action="Index">Пользователи</a></b></td>
            </tr>
            <tr>
                <td><b><a asp-area="Admin" asp-controller="Roles" asp-action="Index">Роли</a></b></td>
            </tr>
            <tr>
                <td><b><a asp-area="Admin" asp-controller="Products" asp-action="Index">Продукты</a></b></td>
            </tr>
        </tbody>
    </table>
</div>
