<h1> Спасибо за Ваш Заказ! </h1>
<h2>   Наш оператор свяжется с Вами для подтверждения заказа в течение 5 минут.</h2>
<div class="col-9">
    <a class="btn btn-info" asp-area="" asp-controller="home" , asp-action="index" role="button">На главную</a>
</div>