@model ComparisonViewModel
@{
    ViewData["Title"] = "Compare";
}

@if (Model.ProductsToCompare.Count < 2)
{
    <div class="row">
        <div class="col-8">
            <h2>Добавьте как минимум еще один товар для сравнения!</h2>
        </div>
    </div> 
    <div class="row">
        <div class="col-8">
            <br><br><br><a class="btn btn-info" asp-area="" asp-controller="home" , asp-action="index" role="button">Вернуться в каталог</a>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-9">
            <table class="table">
                <thead>
                    <tr>
                        @foreach (var product in Model.ProductsToCompare)
                        {
                            <th scope="col">@product.Name
                            <a button class="btn btn-outline-warning" role="button" asp-area="" asp-controller="Comparison" asp-action="Delete" asp-route-productId="@product.Id"> <b>Х</b> </a>
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        @foreach (var product in Model.ProductsToCompare)
                        {
                            <th scope="row"><img class="card-img-top" src=@product.ImagePaths alt="Изображение блюда"></th>
                        }
                    </tr>
                    <tr>
                        @foreach (var product in Model.ProductsToCompare)
                        {
                            <th scope="row">Цена @product.Cost руб.</th>
                        }
                    </tr>
                    <tr>
                        @foreach (var product in Model.ProductsToCompare)
                        {
                            <th scope="col">Что это: @product.Description</th>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            <br><br><br><a class="btn btn-info" asp-area="" asp-controller="home" , asp-action="index" role="button">Продолжить покупки</a>
        </div>
    </div>

}
