<div class="col-3">
    <ul class="list-group list-group-flush my-3">
        <li class="list-group-item"><h4><a asp-area="Catalogue" asp-controller="Breakfasts" asp-action="Index">Завтраки</a></h4></li>
        <li class="list-group-item"><h4><a asp-area="Catalogue" asp-controller="Salads" asp-action="Index">Салаты</a></h4></li>
        <li class="list-group-item"><h4><a asp-area="Catalogue" asp-controller="Soups" asp-action="Index">Супы</a></h4>
        <li class="list-group-item"><h4><a asp-area="Catalogue" asp-controller="MainDishes" asp-action="Index">Горячие блюда</a></h4>
        <li class="list-group-item"><h4><a asp-area="Catalogue" asp-controller="SideDishes" asp-action="Index">Гарниры</a></h4>
        <li class="list-group-item"><h4><a asp-area="Catalogue" asp-controller="Bakery" asp-action="Index">Выпечка</a></h4>
        <li class="list-group-item"><h4><a asp-area="Catalogue" asp-controller="Drinks" asp-action="Index">Напитки</a></h4>
    </ul>
</div>